/* display */
.hide{display:none;}
.f-di{display:inline;}
.f-db{display:block;}
.f-dib{display:inline-block;}
.f-dt{display:table;}

/*overflow*/

.f-auto{
    overflow: auto;
}
.f-hidden{
    overflow: hidden;
}
/*height:100%*/
.f-h100p{height:100%;}

/* line-height */
.f-lh14{line-height:14px;}
.f-lh16{line-height:16px;}
.f-lh18{line-height:18px;}
.f-lh20{line-height:20px;}
.f-lh22{line-height:22px;}
.f-lh24{line-height:24px;}

/* font-size */
.f-fs12{font-size:12px;}
.f-fs14{font-size:14px;}
.f-fs16{font-size:16px;}
.f-fs18{font-size:18px;}
.f-fs20{font-size:20px;}
.f-fs24{font-size:24px;}
.f-fs30{font-size:30px;}

/* font-style */
.f-fwn{font-weight:normal; font-style:normal;}
.f-fwb{font-weight:bold;}

/* text-align */
.f-tac{text-align:center;}
.f-center{text-align:center;}
.f-tar{text-align:right;}
.f-tal{text-align:left;}

/* text-decoration */
.f-tdu{text-decoration:underline;}
.f-bn{border:none;}

/* css3过渡动画效果 */
.f-trans3{-webkit-transition:all 0.3s;transition:all 0.3s;}
.f-trans5{-webkit-transition:all 0.5s;transition:all 0.5s;}
.f-trans8{-webkit-transition:all 0.8s;transition:all 0.8s;}
.f-trans10{-webkit-transition:all 1s;transition:all 1s;}

/* 单行文字溢出虚点显 示*/
.f-ell{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}

/* 二行文字溢出 */
.f-ell2 {
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* 三行文字溢出 */
.f-ell3 {
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* 四行文字溢出 */
.f-ell4 {
    word-wrap: break-word;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* 鼠标手势 */
.f-cp{cursor:pointer;}

/* position */
.f-pr{position:relative}
.f-pa{position:absolute}
.f-pf{position:fixed;}

/*用于absolute或者fixed定位或者浮动,任意类型元素的水平居中(要求：1.宽度必须要有)*/
.pauto{left:0;right:0;margin-left:auto;margin-right:auto;position:absolute;/*父元素需要相对定位*/}

/*任意类型元素的水平垂直居中(要求：1.宽度必须要有)*/
.pautoall{left:0;right:0;top:0;bottom:0;margin:auto;position:absolute;/*父元素需要相对定位*/}

/* 块元素水平居中(要求 1.无定位 2.设定宽度 3.必须是display:block) */
.auto{margin-left:auto;margin-right:auto;display:block;}

/* 块元素水平垂直居中(要求 1.无定位 2.设定宽度 3.必须是display:block) */
.auto{margin:auto;display:block;}

/* 基于flex的水平垂直居中容器 */
.f-autoCont {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* vertical-align */
.f-vam{vertical-align:middle;}
.f-vab{vertical-align:bottom;}
.f-vat{vertical-align:top;}
.f-vatb{vertical-align:text-bottom;}

/* visibility */
.f-vh{visibility:hidden;}
.f-vv{visibility:visible;}

/*增加了margin*/
.f-mauto{margin: 0 auto}


.f-m2{margin:2px;}
.f-ml2{margin-left:2px;}
.f-ml20{margin-left:20px;}
.f-mr2{margin-right:2px;}
.f-mt2{margin-top:2px;}
.f-mb2{margin-top:2px;}

.f-m3{margin:3px;}
.f-ml3{margin-left:3px;}
.f-mr3{margin-right:3px;}
.f-mt3{margin-top:3px;}
.f-mb3{margin-top:3px;}

.f-m5{margin:5px;}
.f-ml5{margin-left:5px;}
.f-mr5{margin-right:5px;}
.f-mt5{margin-top:5px;}
.f-mb5{margin-bottom:5px;}

.f-m7{margin:7px;}
.f-ml7{margin-left:7px;}
.f-mr7{margin-right:7px;}
.f-mt7{margin-top:7px;}
.f-mb7{margin-bottom:7px;}

.f-m10{margin:10px;}
.f-ml10{margin-left:10px;}
.f-mr10{margin-right:10px;}
.f-mr20{margin-right:20px;}
.f-mt10{margin-top:10px;}
.f-mt15{margin-top:15px;}
.f-mt20{margin-top:20px;}
.f-mt30{margin-top:30px;}
.f-mb10{margin-bottom:10px;}
.f-mb20{margin-bottom:20px;}
.f-mb30{margin-bottom:30px;}

/*增加了padding*/
.f-p1{padding:1px;}
.f-pl1{padding-left:1px;}
.f-pr1{padding-right:1px;}
.f-pt1{padding-top:1px;}
.f-pb1{padding-top:1px;}

.f-p2{padding:2px;}
.f-pl2{padding-left:2px;}
.f-pr2{padding-right:2px;}
.f-pt2{padding-top:2px;}
.f-pb2{padding-top:2px;}

.f-p3{padding:3px;}
.f-pl3{padding-left:3px;}
.f-pr3{padding-right:3px;}
.f-pt3{padding-top:3px;}
.f-pb3{padding-top:3px;}

.f-p5{padding:5px;}
.f-pl5{padding-left:5px;}
.f-pr5{padding-right:5px;}
.f-pt5{padding-top:5px;}
.f-pb5{padding-top:5px;}

.f-p7{padding:7px;}
.f-pl7{padding-left:7px;}
.f-pr7{padding-right:7px;}
.f-pt7{padding-top:7px;}
.f-pb7{padding-top:7px;}

.f-p10{padding:10px;}
.f-p15{padding:15px;}
.f-pl10{padding-left:10px;}
.f-pl20{padding-left:20px;}
.f-pl50{padding-left:50px;}
.f-pl30{padding-left:30px;}
.f-pr10{padding-right:10px;}
.f-pr20{padding-right:20px;}
.f-pr30{padding-right:30px;}
.f-pt10{padding-top:10px;}
.f-ptn {padding-top:0;}
.f-pb10{padding-top:10px;}

.f-ofh{overflow: hidden;}
.f-ofa{overflow: auto;}
.f-ofv{overflow: visible;}
/* ------------------- single CSS end------------------ */


.f-br0{border-radius:0px}
.f-br1{border-radius:1px}
.f-br2{border-radius:2px}
.f-br3{border-radius:3px}
.f-br15{border-radius:15px}
.f-br20{border-radius:20px !important}


.img-container {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

[sw-role="cell"]{
    display: flex;
    box-sizing: border-box;
}
[sw-mode="wrap"]{
    flex-wrap:wrap;
}

[sw-align="center"]{
    align-items:center;
}
[sw-valign="center"]{
    justify-content: center;
    text-align: center;
}

[sw-layout="fit"]{
    flex:1;
}

[sw-mode="y"]{
    flex-direction:column;
}

[sw-mode="x"]{
    flex-direction:row;
}

.f-df{
    display: flex;/* flex布局 */
}

.f-fww {
    flex-wrap:wrap; /*换行规则*/
}

.f-aic {
    align-items:center;/*纵向上的对齐方式*/
}

.f-aie{
  align-items: flex-end;
}

.f-jcc {
    justify-content: center;/*横向上的对齐方式*/
}

.f-jcs {
    justify-content: flex-start;/*横向上的对齐方式*/
}

.f-jce {
    justify-content: flex-end;/*横向上的对齐方式*/
}

.f-fn {
    flex: none;
}

.f-f1{
    flex:1;
}

.f-f2{
    flex:2;
}

.f-f3{
    flex:3;
}

.f-f4 {
    flex: 4;
}

.f-f5 {
    flex: 5;
}

.f-f6 {
    flex: 6;
}

.f-fdc {
    flex-direction:column;/* 方向 */
}
.f-fdr {
    flex-direction:row;
}

.f-fr{
    float:right;
}
.f-fl{
    float:left;
}
.ellipsis-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.overflow-ellipsis{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}

.hidemenu{
    padding:10px;
}
.el-tabs .el-tabs__content{
    padding-left:0 !important;
}

.cursor-pointer{
    cursor:pointer;
}


.color-main{color:#4a8c08 !important}
.color-sub{color:#89c152  !important}
.bg-main{background:#4a8c08 !important}
.bg-normal{background: #ebebeb !important}
.bg-fff{background:#fff;}


/* 系统样式 */

/* font-size */
.f-fs22{
    font-size:22px;
}
.f-fs20{
    font-size:20px;
}
.f-fs18{
    font-size:18px;
}
.f-fs16{
    font-size:16px;
}
.f-fs12{
    font-size:12px;
}
/* 表格按钮 */
.f-table-btn{
    width:52px;
    height:32px;
    color:#fff;  
    background:#2299bb;
}
.f-table-btn-warning{
    background:#ff0000;
}
.f-table-btn-info{
    background:#ff8801;
}
.f-table-btn-normal2{
    background:#447700;
}
/* 提交按钮 */
.f-submit-btn{
    width:290px;
    height:48px;
    text-align:center;
    border-radius:25px;
    font-size:16px;
    line-height:48px;
    color:#fff;
    background: #447700;
}
.f-sure-btn{
    display:inline-block;
    text-align:center;
    width:120px;
    height:48px;
    font-size:18px;
    line-height:48px;
    color:#fff; 
    border-radius:25px;
    background: #417f04;
}
.f-cancel-btn{
    display:inline-block;
    text-align:center;
    width:120px;
    height:48px;
    font-size:18px;
    line-height:48px;
    color:#333;  
    border-radius:25px;
    background: #edeeed;
}

.ny-button{
    padding: 10px 30px !important;
    border-radius:20px !important;
}
.f-red{
    color:#ff7676;
}
.f-select-not{
    user-select:none;
}

textarea{
    font-family: Arial;
}
.bg-black{
    background:#000;
}
.f-op1{
    opacity:0.1
}
.wxtx{
  color:#F56C6C;
  margin-left: 10%;
  line-height: 32px;
}
