/* table的样式 */
.el-table{
    font-size:14px;
}
.el-table th{
    background:#ebebeb !important;
    font-size:14px;
    color:#333;
    font-weight:normal;
}
.el-table .cell{
    color:#333;
}

input{
    font-size:14px;
}

.el-button{
    font-size:14px;
    padding: 5px 15px;
    vertical-align: middle;
}
.el-dialog__header{
    border-bottom:2px solid #ebebeb;
}

.el-pagination{
    margin:30px 0;
    float: right;
} 
.el-table--medium th, .el-table--medium td{
    padding-top:7px !important;
    padding-bottom:7px !important;
}

.el-button--small {
    font-size: 13px;
}

//修改dropdown的字体
.el-dropdown-menu--medium .el-dropdown-menu__item {
    line-height: 40px;
    padding: 0 30px;
    font-size: 16px;
}
//form表单里带有有搜索按钮的input
.select-width-btn{
    .el-input-group__append{
        background:#417f04;
        color:#fff;
    }
}
//form表单里的下拉选择框，设置与form表单的宽度一样
.form-select{
    width:100%;
}

//编辑框
.form{
    width:550px;
    margin-left:150px;
    .form-title{
        padding-left:50px;
    }
}

//弹出message的样式
.el-message {
    top: 125px;
}

//修改ele弹框close的样式
.el-dialog__headerbtn {
    top: 0px;
    right: 0px;
    padding:8px 10px;
    font-size:20px !important;
}
.el-dialog__headerbtn:hover{
    background:#ff7676;
    .el-dialog__close{
        color:#fff !important;
    }
}

//编辑按钮的样式默认按钮的重写
.table .edit:hover{
    background:#ecf5ff;
    color:#60acff;
    border:1px solid #60acff;
  }

.form .el-select , .form .el-autocomplete{
    width:100%;
}

//input中 type=number 的文本框（数字框） 去掉箭头 且不能输入e和标点符号
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
//修改disabled的文本框文字颜色
.el-input.is-disabled .el-input__inner{
    color:#333;
}

.el-radio__input.is-disabled.is-checked .el-radio__inner::after{
    background-color: #666; 
}
.el-radio__input.is-disabled.is-checked .el-radio__inner {
    background-color: #f5f7fa;
    border-color: #999;
}
.el-radio__input.is-disabled + span.el-radio__label {
    color: #666;
    cursor: not-allowed;
}
//搜索栏的样式调整
.header label,.tabs label{
    line-height: 32px;
    display: inline-block;
}

.el-textarea .el-input__count{
    color:#999;
}
.el-input .el-input__count{
    color:#999;
}
//不校验input的append 的下拉选择框校验
.el-form-item.is-error .el-input__suffix .el-input__validateIcon {
  display:none;
}

.el-input-group__append button.el-button, .el-input-group__append div.el-select .el-input__inner, .el-input-group__append div.el-select:hover .el-input__inner, .el-input-group__prepend button.el-button, .el-input-group__prepend div.el-select .el-input__inner, .el-input-group__prepend div.el-select:hover .el-input__inner{
    color:#333;
}

.el-input-group__append, .el-input-group__prepend{
    color:#666;
}