/*垂直居中*/
.verticalAlign{ vertical-align:middle; float:left;height:100%; margin-left:-1px;}

.xcConfirm .xc_layer{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20); z-index: 2147000000;}
.xcConfirm .popBox{width:920px;position: fixed; left: 50%; top: 50%; background-color: #ffffff; z-index: 2147000001; height: 380px; margin-left: -460px; margin-top: -150px; border-radius: 5px;  color: #535e66;}
.xcConfirm .popBox .ttBox{height: 20px; line-height: 20px; padding: 10px 30px; border-bottom: solid 1px #eef0f1;}
.xcConfirm .popBox .ttBox .tt{font-size: 18px; display: block; float: left; height: 30px; position: relative;}
.xcConfirm .popBox .ttBox .clsBtn{display: block; cursor: pointer; width: 12px; height: 12px; position: absolute; top: 15px; right: 30px; background: url(../img/icons.png) -48px -96px no-repeat;}
.xcConfirm .popBox .txtBox{margin: 40px 60px;font-size:16px;}
.xcConfirm .popBox .txtBox .bigIcon{margin-top: 20px;float: left; margin-right: 20px; width: 48px; height: 48px; background-image: url(./icons.png); background-repeat: no-repeat; background-position: 48px 0;}
.xcConfirm .popBox .txtBox p{ margin-top: 16px; line-height: 26px; overflow-x: hidden; overflow-y: auto;}
.xcConfirm .popBox .txtBox p input{width: 364px; height: 30px; border: solid 1px #eef0f1; font-size: 16px; margin-top: 6px;}
.xcConfirm .popBox .btnArea{border-top: solid 1px #eef0f1;}
.xcConfirm .popBox .btnGroup{float: right;}
.xcConfirm .popBox .btnGroup .sgBtn{margin-top: 10px; margin-right: 30px;font-size:16px;}
.xcConfirm .popBox .sgBtn{display: block; cursor: pointer; float: left; width: 60px; height: 35px; line-height: 35px; text-align: center; color: #FFFFFF; border-radius: 5px;}
.xcConfirm .popBox .sgBtn.ok{background-color: #0095d9; color: #FFFFFF;}
.xcConfirm .popBox .sgBtn.cancel{background-color: #546a79; color: #FFFFFF;}
.browser{
    float:left;
    _zoom:1;*display:inline;
    margin:30px;
    cursor: pointer;
    text-align: center;
}
.browser img{
    width:120px;
    height:120px;
}
.browser p{
    font-size:16px;
    margin-top:10px;
}
.browser p:hover{
    color:#2496e9;
}
.qrcode{
    float:left;
    margin:20px 0 20px 50px;
    cursor: pointer;
    text-align: center;
}
.qrcode img{
    width:205px;
    height:205px;
}
.qrcode p{
    font-size:16px;
    margin-top:10px;
}
.f-dib{
    float:left;
}